In [34]:
import numpy as np,pandas as pd

In [35]:
df=pd.read_csv('country_vaccinations_by_manufacturer.csv')

In [36]:
df

             location        date             vaccine  total_vaccinations
0           Argentina  2020-12-29             Moderna                   2
1           Argentina  2020-12-29  Oxford/AstraZeneca                   3
2           Argentina  2020-12-29   Sinopharm/Beijing                   1
3           Argentina  2020-12-29           Sputnik V               20481
4           Argentina  2020-12-30             Moderna                   2
...               ...         ...                 ...                 ...
35618  European Union  2022-03-29  Oxford/AstraZeneca            67403106
35619  European Union  2022-03-29     Pfizer/BioNTech           600519998
35620  European Union  2022-03-29   Sinopharm/Beijing             2301516
35621  European Union  2022-03-29             Sinovac                1809
35622  European Union  2022-03-29           Sputnik V             1845103

[35623 rows x 4 columns]

In [37]:
country_list=list(df['location'].unique())

In [58]:
dict(df.iloc[10])

{'location': 'Argentina',
 'date': '2020-12-31',
 'vaccine': 'Sinopharm/Beijing',
 'total_vaccinations': 1}

In [38]:
print(country_list)

['Argentina', 'Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Ecuador', 'Estonia', 'Finland', 'France', 'Germany', 'Hong Kong', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Nepal', 'Netherlands', 'Norway', 'Peru', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United States', 'Uruguay', 'European Union']

In [39]:
country_list_index={}
for countries in country_list:
    if(countries not in country_list_index.keys()):
        country_list_index[countries]=-1

In [40]:
for index, row in df.iterrows():
    if(country_list_index[row['location']]==-1):
        country_list_index[row['location']]=index

In [41]:
print(country_list_index)

{'Argentina': 0, 'Austria': 2629, 'Belgium': 2949, 'Bulgaria': 3269, 'Chile': 3504, 'Croatia': 4997, 'Cyprus': 5247, 'Czechia': 5477, 'Denmark': 7138, 'Ecuador': 7392, 'Estonia': 8670, 'Finland': 8907, 'France': 9167, 'Germany': 10819, 'Hong Kong': 13109, 'Hungary': 13893, 'Iceland': 14232, 'Ireland': 14536, 'Italy': 14780, 'Japan': 16419, 'Latvia': 16644, 'Liechtenstein': 18308, 'Lithuania': 18497, 'Luxembourg': 18729, 'Malta': 18972, 'Nepal': 19210, 'Netherlands': 19385, 'Norway': 19705, 'Peru': 19950, 'Poland': 21090, 'Portugal': 21371, 'Romania': 21753, 'Slovakia': 23243, 'Slovenia': 23477, 'South Africa': 23701, 'South Korea': 23751, 'Spain': 25736, 'Sweden': 25988, 'Switzerland': 26244, 'Ukraine': 27630, 'United States': 29121, 'Uruguay': 30313, 'European Union': 31501}

In [42]:
country_list_end_index={}

In [44]:
lst=list(country_list_index.values())

In [45]:
print(lst)

[0, 2629, 2949, 3269, 3504, 4997, 5247, 5477, 7138, 7392, 8670, 8907, 9167, 10819, 13109, 13893, 14232, 14536, 14780, 16419, 16644, 18308, 18497, 18729, 18972, 19210, 19385, 19705, 19950, 21090, 21371, 21753, 23243, 23477, 23701, 23751, 25736, 25988, 26244, 27630, 29121, 30313, 31501]

In [46]:
length=len(lst)
print(length)

43

In [47]:
i=1
for countries in country_list_index.keys():
    if(i==43):
        country_list_end_index[countries]=35623
    else:
        country_list_end_index[countries]=lst[i]
    i+=1

In [49]:
print(country_list_end_index)

{'Argentina': 2629, 'Austria': 2949, 'Belgium': 3269, 'Bulgaria': 3504, 'Chile': 4997, 'Croatia': 5247, 'Cyprus': 5477, 'Czechia': 7138, 'Denmark': 7392, 'Ecuador': 8670, 'Estonia': 8907, 'Finland': 9167, 'France': 10819, 'Germany': 13109, 'Hong Kong': 13893, 'Hungary': 14232, 'Iceland': 14536, 'Ireland': 14780, 'Italy': 16419, 'Japan': 16644, 'Latvia': 18308, 'Liechtenstein': 18497, 'Lithuania': 18729, 'Luxembourg': 18972, 'Malta': 19210, 'Nepal': 19385, 'Netherlands': 19705, 'Norway': 19950, 'Peru': 21090, 'Poland': 21371, 'Portugal': 21753, 'Romania': 23243, 'Slovakia': 23477, 'Slovenia': 23701, 'South Africa': 23751, 'South Korea': 25736, 'Spain': 25988, 'Sweden': 26244, 'Switzerland': 27630, 'Ukraine': 29121, 'United States': 30313, 'Uruguay': 31501, 'European Union': 35623}

In [50]:
unique_vaccines=list(df.vaccine.unique())

In [51]:
column=['location','date']+unique_vaccines

In [52]:
print(column)

['location', 'date', 'Moderna', 'Oxford/AstraZeneca', 'Sinopharm/Beijing', 'Sputnik V', 'CanSino', 'Pfizer/BioNTech', 'Johnson&Johnson', 'Novavax', 'Sinovac', 'Covaxin']

In [53]:
organised_df=pd.DataFrame(data=[],columns=column)

In [54]:
organised_df

Empty DataFrame
Columns: [location, date, Moderna, Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V, CanSino, Pfizer/BioNTech, Johnson&Johnson, Novavax, Sinovac, Covaxin]
Index: []

In [71]:
def organise(loc,dat,organised_df):
    si=country_list_index[loc]
    ei=country_list_end_index[loc]
    freq={'location':loc,'date':dat,'Moderna' :0, 'Oxford/AstraZeneca':0,'Sinopharm/Beijing':0, 'Sputnik V' :0,'CanSino':0,
 'Pfizer/BioNTech':0, 'Johnson&Johnson':0, 'Novavax':0, 'Sinovac':0, 'Covaxin':0}
    for i in range(si,ei):
        all_data=dict(df.iloc[i])
        if(all_data['location']==loc and all_data['date']==dat):
            freq[all_data['vaccine']]=all_data['total_vaccinations']
    organised_df.loc[len(organised_df.index)] = freq

In [65]:
location_list=list(df.location.unique())
# print(location_list)
date_list=list(df.date.unique())
# print(date_list)

In [72]:
for locations in location_list:
    for dates in date_list:
        organise(locations,dates,organised_df)

In [73]:
organised_df.head()

,location,date,Moderna,Oxford/AstraZeneca,Sinopharm/Beijing,Sputnik V,CanSino,Pfizer/BioNTech,Johnson&Johnson,Novavax,Sinovac,Covaxin
0,Argentina,2020-12-29,2,3,1,20481,0,0,0,0,0,0
1,Argentina,2020-12-30,2,3,1,40583,0,0,0,0,0,0
2,Argentina,2020-12-31,2,3,1,43388,0,0,0,0,0,0
3,Argentina,2021-01-01,2,5,1,43513,0,0,0,0,0,0
4,Argentina,2021-01-02,2,6,1,46824,0,0,0,0,0,0

In [74]:
organised_df.to_csv('organised_manufacturer.csv',index=False)